<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#ff33ff">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Panel de control</title>
  <script src="js/jquery-1.11.2.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/jquery-ui.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="/images/solicon.png">
  <link rel="apple-touch-icon" href="/images/solicon.png">
  <style>
    .lista {
      list-style-type: none;
      background-color: #F4F7F8;
      display: none;
      cursor: pointer;
    }
    
    #listaa {
      /*list-style-type: none;
      padding: 10px;
      margin-top: 0px;
      display: none;
      */
      margin-top: -20px;
      margin-left: 25px;
    }
    
    legend {
      border-bottom: none;
    }
    
    ul {
      max-height: 200px;
      overflow: hidden;
      overflow-y: auto;
    }
    
    input {
      margin-top: 10px;
    }
    
    button {
      margin-top: 10px;
    }
    
    #logout {
      float: right;
    }
    
    checkbox {
      cursor: pointer;
    }
    
    .bloque {
      margin-top: 30px;
      margin-left: 25px;
    }
  </style>
  <script>
    $(document).ready(function() {
      $("#boton1").click(function() {
        var usuario = $('#campousuario').val();
        $.get("/clientedatos/" + usuario, function(usuarioc) {
          $('#usuario').val(usuarioc.usuario);
          $('#email').val(usuarioc.email);
          $('#dispositivo').val(usuarioc.dispositivo);
          $('#nombre').val(usuarioc.nombre);
          $('#apellido').val(usuarioc.apellido);
          $('#fechaNac').val(usuarioc.fecha);

          if (usuarioc.admin == '1') {
            $('#checkadmin').prop('checked', true);
          }
          else {
            $('#checkadmin').prop('checked', false);
          }

          if (usuarioc.confirmado == '1') {
            $('#checkconfirm').prop('checked', true);
          }
          else {
            $('#checkconfirm').prop('checked', false);
          }

        });
      });

    });

    $.ajax({
      type: "GET",
      url: 'https://sol-anthonyprz.c9users.io/usercompletos',
      dataType: "json",
      success: function(data) {
        var arrayUsu = [];
        for (var i = 0; i < data.length; i++) {
          arrayUsu.push(data[i].usuario);
        }
        $("#campousuario").autocomplete({
          source: arrayUsu
        });
        $("#numUsuarios").text(arrayUsu.length);

      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        console.log("Status: " + textStatus);
        console.log("Error: " + errorThrown);
      }
    });


    //-----------------------------------------------DISPOSITIVO
    $.ajax({
      type: "GET",
      url: 'https://sol-anthonyprz.c9users.io/dispositivoscompletos',
      dataType: "json",
      success: function(data) {
        var arrayDisp = [];
        for (var i = 0; i < data.length; i++) {
          arrayDisp.push(data[i].dispositivo);
        }
        $("#IdDispositivo").autocomplete({
          source: arrayDisp
        });
        $("#numDispositivos").text(arrayDisp.length);


      },
      error: function(XMLHttpRequest, textStatus, errorThrown) {
        console.log("Status: " + textStatus);
        console.log("Error: " + errorThrown);
      }
    });

    $(document).ready(function() {
      $("#boton2").click(function() {
        var dispositivo = $('#IdDispositivo').val();
        $.get("/dispositivo/" + dispositivo, {
          dispositivo: dispositivo
        }, function(dispositivoC) {
          $('#ddispositivo').val(dispositivoC.dispositivo);
          $('#ciudad').val(dispositivoC.ciudad);

        });
      });

    });
  </script>

</head>

<body>
  <header class="jumbotron">
    <div class="container">
      <div class="row">
        <div>
          <h2 align="center">Panel de Control</h2>
        </div>
        <a id="logout" role="button" href="/logout" class="btn">Cerrar sesión</a>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <ul class="nav nav-justified nav-tabs">
        <li class="active"><a data-toggle="tab" href="#usuarios">Usuarios <span id="numUsuarios" class="badge"></span></a></li>
        <li><a data-toggle="tab" href="#dispositivos">Dispositivos <span id="numDispositivos" class="badge"></span></a></li>
        <!--<li role="presentation"><a href="#">Estadísticas</a></li>-->
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="tab-content">
      <div id="usuarios" class="tab-pane fade in active">
        <div class="row bloque">
          <!--<div class=" col-md-4">
            <label for="campousuario">Buscar usuario</label>
            <input type="text" class=" col-md-4 form-control" id="campousuario" placeholder="Usuario" autocomplete="off">
            <button type="submit" id="boton1" class="col-md-4 btn btn-block btn-success ">Aceptar</button>
          </div>-->

          <div class="col-md-4">
            <label for="campousuario">Buscar usuario</label>
            <div class="input-group">

              <input type="text" class=" col-md-4 form-control" id="campousuario" placeholder="Usuario" autocomplete="off">
              <span class="input-group-btn">
                <button class="btn btn-success" type="button" id="boton1">Buscar</button>
              </span>
            </div>
          </div>


          <div class=" col-md-offset-2 col-md-4" id="formusuario">
            <label for="formusuario">Datos del usuario</label>

            <form id="formusuario" method="POST" onsubmit="return confirm('¿Seguro que quieres modificar el usuario?');">

              <input type="text" class="form-control" name="usuario" id="usuario" readonly placeholder="Usuario">
              <input type="text" class="form-control" name="email" id="email" placeholder="Email">
              <input type="text" class="form-control" name="dispositivo" id="dispositivo" placeholder="Dispositivo">
              <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre">
              <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Apellido">
              <input type="text" class="form-control" name="fechaNac" id="fechaNac" placeholder="Fecha de nacimiento">

              <input type="checkbox" value="1" id="checkadmin" name="admin" />
              <label for="checkadmin">Administrador</label>
              <br>
              <input type="checkbox" value="1" id="checkconfirm" name="confirmado" />
              <label for="checkconfirm">Confirmado</label>

              <button type="submit" id="modificar" formaction='/modificaruser' class="btn btn-block btn-primary ">Modificar</button>
              <button type="submit" id="eliminar" formaction='/eliminaruser' class="btn btn-block btn-danger">Eliminar</button>
            </form>
          </div>
        </div>
      </div>

      <div id="dispositivos" class="tab-pane fade">

        <div class="row bloque">
          <div class="col-md-4">
            <label for="IdDispositivo">Buscar dispositivo</label>
            <div class="input-group">
              <input type="text" class=" col-md-4 form-control" id="IdDispositivo" placeholder="ID Dispositivo" autocomplete="off">
              <span class="input-group-btn">
                <button type="submit" id="boton2" class="col-md-4 btn btn-block btn-success ">Buscar</button>
              </span>
            </div>
          </div>

          <div class=" col-md-offset-2 col-md-4" id="formusuario">
            <label for="formusuario">Datos del Dispositivo</label>

            <form id="formusuario" method="POST" onsubmit="return confirm('¿Seguro que quieres modificar el Dispositivo?');">
              <input type="text" class="form-control" name="ddispositivo" id="ddispositivo" placeholder="ID del dispositivo">
              <input type="text" class="form-control" name="ciudad" id="ciudad" placeholder="Ciudad">


              <button type="submit" id="modificar" formaction='/modificardisp' class="btn btn-block btn-primary ">Modificar</button>
              <button type="submit" id="eliminar" formaction='/eliminardisp' class="btn btn-block btn-danger">Eliminar</button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>

  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
  <script src="js/bootstrap.min.js"></script>
</body>

</html>