<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Panel de control</title>
  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="/images/solicon.png">
  <link rel="apple-touch-icon" href="/images/solicon.png">
  <style>
    .lista {
      list-style-type: none;
      background-color: #F4F7F8;
      display: none;
      cursor: pointer;
    }
    
    #listaa {
      /*list-style-type: none;
      padding: 10px;
      margin-top: 0px;
      display: none;
      */
      margin-top: -20px;
      margin-left: 25px;
    }
    
    legend {
      border-bottom: none;
    }
    
    ul#listt {
      max-height: 200px;
      overflow: hidden;
      overflow-y: auto;
    }
  </style>
  <script>
    $(document).ready(function() {
      $(".lista").click(function() {
        var usuario = $(this).text();
        $.get("/clientedatos/" + usuario, {
          user: usuario
        }, function(usuarioc) {
          $('#usuario').val(usuarioc.usuario);
          $('#email').val(usuarioc.email);
          $('#dispositivo').val(usuarioc.dispositivo);
        });
      });
    });

    function filtro(element) {
      var value = $(element).val();

      $('#listt > li:not(:contains(' + value + '))').css('display', 'none');
      $('#listt > li:contains(' + value + ')').css('display', 'block');
    }
  </script>
</head>

<body>
  <header class="jumbotron">
    <div class="container">
      <div class="row">
        <div>
          <h2 align="center">Panel De Control</h2>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Usuario</a></li>
        <li role="presentation"><a href="#">Dispositivo</a></li>
        <li role="presentation"><a href="#">Estadísticas</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row" style="padding:40px;margin-left:25px;">
      <div class="col-md-4">
        <label for="campousuario">Buscar usuario</label>
        <input type="text" onkeyup="filtro(this)" class="form-control" id="campousuario" placeholder="Usuario" autocomplete="off">
        <div id="usus">
          <ul id="listt">
            {{#each datos}}
            <li class="lista list-group-item">{{usuario}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class=" col-md-offset-2 col-md-4" id="formusuario">
        <label for="formusuario">Datos del usuario</label>
        <form id="formusuario">
          <input type="text" class="form-control" id="usuario" value="" placeholder="Usuario">
          <input type="text" style="margin-top:10px;" class="form-control" id="email" value="" placeholder="Email">
          <input type="text" style="margin-top:10px;" class="form-control" id="dispositivo" value="" placeholder="Dispositivo">
          <br>
          <button type="submit" style="margin-top:-10px;" id="boton" class="btn btn-block btn-primary ">Modificar</button>
          <button type="submit" id="boton" class="btn btn-block btn-danger">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>