<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Wed Dec 09 2015 11:11:43 GMT+0000 (UTC) -->
<html data-wf-site="5645cad42404c4fe414da2da" data-wf-page="5645cad42404c4fe414da2db">
<head>
  <meta charset="utf-8">
  <title>Inicio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/webflow.css">
  <link rel="stylesheet" type="text/css" href="/css/proyecto-sol.webflow.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/menu.js"></script>
  <script src="/js/validator.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>

  <script>
    WebFont.load({
      google: {
        families: ["Varela Round:400","Changa One:400,400italic"]
      }
    });
  </script>
  <script type="text/javascript" src="/js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/images/solicon.png">
  <link rel="apple-touch-icon" href="/images/solicon.png">
</head>
<body class="body">
 <!-- 
 {{#if author}}
    <h1>{{firstName}} {{lastName}}</h1>
  {{/if}} -->
  {{error1}}
  {{error2}}
 
 
  <div data-ix="new-interaction-2" class="modal-wrapper">
    <div class="w-clearfix sing-up-wrapper"><button type="button" class="close" data-ix="close-interaction" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h2>Registro</h2>
      <div class="w-form">
        <form id="email-form-2" name="email-form-2" data-toggle="validator" data-name="Email Form 2"  method="POST" action="/usuario/registro">
          <div class="form-group">
              <input type="text" class="form-control" id="inputName" placeholder="Nombre" name="usuario" required>
          </div>
      <div class="form-group">
        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" data-error="Bruh, that email address is invalid" required>
        
        <div class="help-block with-errors"></div>
      </div>
       <div class="form-group">
        
          <input type="password" data-minlength="6" class="form-control" id="inputPassword" name="pass" placeholder="contraseña" required>
  
        
    </div>
     <div class="form-group">
       <input type="password" class="form-control" id="inputPasswordConfirm" name="pass2" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirmación" required>
          <div class="help-block with-errors"></div>
     </div>
      <div class="form-group">
     <input type="submit" value="Entrar" data-wait="Please wait..." class="w-button sbmit">
  </div>
          
          <!--<input id="usuario" type="text" placeholder="Usuario" name="usuario" data-name="usuario" class="w-input colorregist">
          <input id="email-3" type="email" placeholder="email" name="email" data-name="email" required="required" class="w-input colorregist">
          <input id="pass" type="password" placeholder="Contraseña" name="pass" data-name="pass" required="required" class="w-input colorregist">
          <input id="pass-2" type="password" placeholder="Repetir contraseña" name="pass2" data-name="pass2" required="required" class="w-input colorregist">
          <input type="submit" value="Registrarse" data-wait="Please wait..." class="w-button sbmit">-->
        </form>
        <div class="w-form-done">
          <p>¡Gracias! Te has registrado correctamente.</p>
        </div>
        <div class="w-form-fail">
          <p>Ha habido un error en el registro.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div data-ix="new-interaction-2" class="modallogin">
    <div class="login-up-wrapper">
      <button type="button" class="close" data-ix="close-interaction-2" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h3 class="h3">Iniciar sesión</h3>
      <div class="w-form">
        <form id="email-form-3" name="email-form-3" data-toggle="validator" data-name="Email Form 3" class="w-clearfix" method="POST" action="/usuario/login">
          <div class="form-group">
        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" data-error="Bruh, that email address is invalid" required>
        <div class="help-block with-errors"></div>
      </div>
          <input id="pass-3" type="password" placeholder="contraseña" name="pass" data-name="pass" required="required" class="w-input colorregist">
          <input type="submit" value="Entrar" data-wait="Please wait..." class="w-button sbmit">
          <a  data-toggle="modal" id="cambiopass" data-target="#myModal" data-ix="close-interaction-2">¿Has olvidado tu contraseña?</a>

        </form>
        <div class="w-form-done">
          <p>Has iniciado sesión correctamente.</p>
        </div>
        <div class="w-form-fail">
          <p>Error al iniciar sesión.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Cambio de contraseña</h4>
        </div>
        <div class="modal-body">
          <form id="recuperarpass" name="recuperarpass" data-name="Email Form 3"  method="POST" action="/recuperacion">
            <input type="email" placeholder="Introduce tu e-mail" name="email" id="email"/>
            <input type="submit" value="Enviar" id="submit">
          </form>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

  <!--<div data-collapse="all" data-animation="over-right" data-duration="400" data-contain="1" data-easing="ease-in-quad" class="w-nav navbar">
    <div class="w-container navcontainer">
      <nav role="navigation" class="w-nav-menu navmenu"><a href="#section1" class="w-nav-link linkhome">Home</a>
                                                        <a href="#productos" target="_blank" class="w-nav-link linkcomprar">Nuestros Productos</a>
                                                        <a href="#formu" class="w-nav-link linkdescripcion">Contáctanos</a>
      </nav>
      <div class="w-nav-button w-clearfix menu">
        <div class="w-icon-nav-menu icono"></div>
      </div>
    </div>
  </div>  -->
  <div class="capa"></div>
  <div class="hamburgerMenu"><span></span></div>
<div class="menu">
  <span><a href="#section1" class="sindeco">Home</a></span>
  <span><a href="#informacion"  class="sindeco">Información</a></span>
  <span><a href="#formu" class="sindeco">Contáctanos</a></span>
</div>
  <div id="section1" class="w-section section1">
        
    
    <h1 class="titulo1">¡Protege tu piel ahora!</h1>
    <h3 class="titulo2">Registrate para empezar a protegerte con esta app</h3>
   
    <div class="botones">
      <a  data-ix="subscribe-interaction" class="w-button botonregistro">Registrarse</a><a  data-ix="login-interaction-2" class="w-button loginb">Iniciar sesión</a>
    </div><a href="#informacion"  class="w-button comprab">Más Información</a>
  </div>
  <div class="w-section informacion" id="informacion">
    <div class="w-row in">
      <div class="w-col w-col-4">
        <div class="reco">
          <div class="fotoreco"><img src="/images/1448671987_Heart.png" class="fotoreco1">
          </div>
          <h1 class="header1">Cuídate</h1>
          <p class="reco1">Puedes cuidar tu piel por ti mismo,pero  podemos ayudarte a mejorar ese cuidado. utilizando nuestra herramienta no tendrás mas problemas de piel.</p>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="reco"><img src="/images/1448672026_apple-04.png" class="fotoreco1 _2">
          <h1 class="header1">Moderno</h1>
          <p class="reco1">Nuestros dispositivos tienen un diseño muy moderno y ergonómico, y funcionales ayudará a cuidar tu piel en todo momento.</p>
        </div>
      </div>
      <div class="w-col w-col-4">
        <div class="reco"><img src="/images/1448672561_Beach.png" class="fotoreco1 _3">
          <h1 class="header1">¡Relájate!</h1>
          <p class="reco1">Te enviaremos alertas, según el nivel de radiación y tu fototipo para que tu puedas decidir lo que es mas conveniente para tu piel.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="productos" class="w-section productos">
    <div class="w-row">
      <div class="w-col w-col-6 w-clearfix procolum1">
        <div class="prod1 _1">
          <div class="articulo">
            <div class="foto"><img width="300" src="/images/gorra.png" class="foto">
            </div>
            <div class="arttext">
              <h3 class="narticulo">Gorra</h3>
              <p class="info">Protegete con la primera gorra con inteligencia. No olvides que la salud es lo primero y que tienes que mantener la piel sana.</p><a href="#" class="articcompra">COMPRA AHORA</a>
            </div>
          </div>
        </div>
      </div>
      <div class="w-col w-col-6 w-clearfix procolum1">
        <div class="prod1 _2">
          <div class="articulo">
            <div class="foto"><img width="310" src="/images/sony-smart-tags.png" class="foto _2">
            </div>
            <div class="arttext">
              <h3 class="narticulo">Chapa</h3>
              <p class="info">Protegete con la primera gorra con inteligencia. No olvides que la salud es lo primero y que tienes que mantener la piel sana.</p><a href="#" class="articcompra">COMPRA AHORA</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="w-row">
      <div class="w-col w-col-6 w-clearfix procolum1">
        <div class="prod1 _3">
          <div class="articulo _3">
            <div class="foto"><img width="355" src="/images/were.png" class="foto _3">
            </div>
            <div class="arttext">
              <h3 class="narticulo">Wearable</h3>
              <p class="info">Protegete con la primera gorra con inteligencia. No olvides que la salud es lo primero y que tienes que mantener la piel sana.</p><a href="#" class="articcompra">COMPRA AHORA</a>
            </div>
          </div>
        </div>
      </div>
      <div class="w-col w-col-6 w-clearfix procolum1">
        <div class="prod1 _4">
          <div class="articulo _3">
            <div class="foto"><img width="457" src="/images/imagenpulsera.png" class="foto _3">
            </div>
            <div class="arttext">
              <h3 class="narticulo">¿Mas Artículos?</h3>
              <p class="info">Protegete con la primera gorra con inteligencia. No olvides que la salud es lo primero y que tienes que mantener la piel sana.</p><a href="#" class="articcompra">TIENDA ONLINE</a>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <div class="w-section sectionformu">
    <div id="formu" class="w-container formu">
      <h1 class="tituloform">Contáctanos</h1>
      <div class="divform">
        <div class="w-form formwrapper">
          <form id="contactanosF" name="contactanosF" data-name="Email Form" class="formula" method="POST" action="/consulta">
            <input id="email" type="email" placeholder="Email" name="email" data-name="Email" required="required" class="w-input textfield">
            <input id="asunto" type="text" placeholder="Asunto" name="asunto" data-name="Name" class="w-input textfield">
            <textarea id="field" placeholder="Mensaje" name="field" class="w-input textarea"></textarea>
            <input type="submit" value="Enviar" data-wait="Send Message" wait="Send Message" class="w-button send">
          </form>
          <div class="w-form-done">
            <p>¡Gracias! Tu mensaje se ha enviado correctamente.</p>
          </div>
          <div class="w-form-fail">
            <p>Ha habido un error al enviar el mensaje.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 <div class="w-section w-clearfix footer">
    <div class="w-clearfix numero"><img src="/images/1448043780_phone.png" class="number">
      <div class="tnumero">934-24 25 25</div>
    </div>
    <div class="logoss"><img width="50" src="/images/1448042051_twitter_circle_gray.png"><img width="50" src="/images/1448042092_facebook_circle_gray.png">
    </div>
    <div class="w-clearfix divbrujula"><img src="/images/1448044040_icon-62-compass.png" class="brujula">
      <div class="dirccion">Donostia, Gipuzkoa</div>
    </div>
    <div class="cop">
      <div class="letras">Xabier Zubiri Manteo&nbsp;© 2016</div>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
 
</body>
</html>