<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Wed Dec 09 2015 11:11:43 GMT+0000 (UTC) -->
<html data-wf-site="5645cad42404c4fe414da2da" data-wf-page="5660040eba246d4834c2d905">
<head>
  <meta charset="utf-8">
  <title>login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/webflow.css">
  <link rel="stylesheet" type="text/css" href="css/proyecto-sol.webflow.css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Varela Round:400","Changa One:400,400italic"]
      }
    });
  </script>
  <script type="text/javascript" src="js/modernizr.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="images/solicon.png">
  <link rel="apple-touch-icon" href="images/solicon.png">
</head>
<body class="body">
  <div id="Nav" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1" class="w-nav navbar">
    <div class="w-container">
      <a href="#" class="w-nav-brand"></a>
      <nav role="navigation" class="w-nav-menu"><a href="#hero" class="w-nav-link">Home</a>
                                                <a href="panel.html" class="w-nav-link">Panel de Control</a>
                                                <a href="#sectionEstadisticas" class="w-nav-link">Estadisticas</a>
                                                 <a href="/usuario/logout" class="w-nav-link">Log Out</a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div id="hero" class="w-section w-clearfix hero">
    <h4 class="lugar">Donostia, País Vasco/Euskadi</h4>
    <h1 class="radio">{{Uv}} Vº</h1><img height="100" src="images/flag-468346_960_720.png" class="bandera">
    <div class="divtiempo"><img src="images/nube.png">
      <h4>Max 10º</h4>
      <h5>Min 10º</h5>
    </div>
    <h2 class="titulorecomendacion">Recomendación</h2>
    <h4 class="segundotitulorecomendacion"> {{User}} utiliza una crema de protección</h4>
    <div class="textrecomendacion">según el nivel de radiación y tu tonalidad de piel te recomiendo utilizar una crema de 20% cada 2 horas.</div>
  </div>
  <div id="sectionEstadisticas" class="w-section sectionestadisticas">
    <div class="w-row estadisticas">
      <div class="w-col w-col-4 columnaestadistica1">
        <div class="divestadisticas">
          <h3 class="tituloestadistica">Día</h3><img src="images/Graficos-Estadisticos-con-jQuery.png" class="imagenestadistica">
        </div>
      </div>
      <div class="w-col w-col-4 columnaestadistica2">
        <div class="divestadisticas">
          <h3 class="tituloestadistica">Semana</h3><img src="images/Graficos-Estadisticos-con-jQuery.png" class="imagenestadistica">
        </div>
      </div>
      <div class="w-col w-col-4 columnaestadistica3">
        <div class="divestadisticas">
          <h3 class="tituloestadistica">Año</h3><img src="images/Graficos-Estadisticos-con-jQuery.png" class="imagenestadistica">
        </div>
      </div>
    </div>
  </div>
  <div class="w-section w-clearfix footer">
    <div class="w-clearfix numero"><img src="images/1448043780_phone.png" class="number">
      <div class="tnumero">934-24 25 25</div>
    </div>
    <div class="logoss"><img width="50" src="images/1448042051_twitter_circle_gray.png"><img width="50" src="images/1448042092_facebook_circle_gray.png">
    </div>
    <div class="w-clearfix divbrujula"><img src="images/1448044040_icon-62-compass.png" class="brujula">
      <div class="dirccion">Donostia,guipuzkoa</div>
    </div>
    <div class="cop">
      <div class="letras">Xabier Zubiri Manteo&nbsp;© 2016
        <br>.</div>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>